.mainSectionOne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 3rem;
  max-height: 90vw;
  gap: 3rem;
  border-radius: 7px;
  padding: 4rem 2rem;
  box-shadow: 100px 100px 100px 100px rgba(110, 110, 110, 0.055);

}

.sectiononeLeft {
  width: 35vw;
  text-align: right;
}

.sectiononeRight {
  width: 60vw;
}

.Sectionone {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.titlescetionone {
  font-size: 2.5vw;
  font-weight: 300;
}

.colorWord {
  color: red;
  font-weight: 500;
}

.textInfoSectionone {
  font-size: 1.2vw;
  font-weight: 200;
  line-height: 1.7;
}

.btnResrvation {
  background-color: red;
  border: none;
  padding: 0.5vw 4vw;
  border-radius: 5px;
  margin-top: 2rem;
  color: white;
  font-size: 1vw;
}